# Node modules
frontend/node_modules/
backend/node_modules/

# Environment files
frontend/.env
backend/.env

# Build folders
frontend/dist/
backend/build/

# MongoDb detail
Name: Aryan-Dhiman
Password: 6396254864@Ad